<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="InfoFile" class="ch.qos.logback.core.FileAppender">
        <file>logs/info.log</file>
        <encoder>
            <pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="ErrorFile" class="ch.qos.logback.core.FileAppender">
        <file>logs/errors.log</file>
        <encoder>
            <pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
    </appender>

    <logger name="org.example" level="DEBUG">
        <appender-ref ref="ErrorFile" />
    </logger>

    <root level="INFO">
        <appender-ref ref="InfoFile" />
    </root>

</configuration>
